headless_builder_backup
[Ll]ibrary/
[Oo]bj/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Uu]serSettings/
[Mm]emoryCaptures/
[Ll]ogs/
[Rr]ecordings/
.plastic/
*.private
*.private.meta
^*.private.[0-9]+$
^*.private.[0-9]+.meta$
**/Assets/AssetStoreTools
**/assets/assetstoretools
/Assets/Plugins/PlasticSCM*
/assets/plugins/PlasticSCM*
.vs
.gradle
.idea
ExportedObj
.consulo
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.unitypackage
.collabignore
crashlytics-build.properties
**/Assets/StreamingAssets/aa.meta
**/assets/streamingassets/*/aa/*
.DS_Store*
Thumbs.db
Desktop.ini
HybridCLRData
**/HybridCLRData/*
ServerData
/Assets/Core/A3_ChickenGame/GameRes/ChickenGame/Lightmap-0*
/Assets/Core/A3_ChickenGame/GameRes/ChickenGame/*
state.txt
localinfo.txt
.vsconfig
Assets/Editor/GameEditor/EditorAccount/AccountUsed.text
Assets/Editor/GameEditor/EditorAccount/AccountUsed.text.meta
Assets/Editor/GameEditor/GRPC/env
Assets/Editor/GameEditor/GRPC/env.meta
.vscode/
/Bundles
/yoo
/Assets/StreamingAssets/yoo
.utmp/